body {
	padding: 10px;
}
.keyword {
  padding: 2px 5px;
  margin: 5px;
  border-radius: 3px;
  color: #fff;
  background-color: #7368b1;
  word-break: break-all;
  display: inline-block;
  cursor: context-menu;
  user-select: none;
  &:hover {
    background-color: #3920c3;
  }
}
input {
  padding: 5px 10px;
  margin-bottom: 10px;
}
#wordList {
  background-color: rgb(235, 235, 235);
  padding: 5px 10px;
  
  p {
    padding: 3px;
    margin: 0px;
  }
}